html, body {
	height:100%;
}

body {
	padding-top:60px;
}

li {
	line-height:20px;
	color:#555555;
}

.topbar {
	height:60px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10000;
}

.topbar .header {
	background-color:#f8f8f8;
	border-bottom:1px solid #e0e0e0;
}

.topbar h3, .topbar .brand {
	float:left;
	display:block;
	padding:8px 20px 12px;
	margin-left:-20px;
	font-size:20px;
	font-weight:200;
	line-height:1;
}

.topbar .nav {
	float:right;
}

.topbar div > ul, .nav {
	display:block;
	margin:10px 0;
	position:relative;
	bottom:0;
	left:0;
}

.topbar div > ul > li, .nav > li {
	display:block;
	float:left;
}

.topbar .bav li {
	margin-left:8px;
}

.topbar .nav a {
	color:#555;
	cursor:pointer;
	font-size:14px;
	text-shadow:none;
}

.topbar div > ul a, .nav a {
	display:block;
	float:none;
	padding:10px 10px 11px;
	line-height:19px;
	text-decoration:none;
}

.content {
	overflow:auto;
	height:100%;
}

footer {
	background:#252525;
	border-top:0;
	height:60px;
	margin-top:-120px;
	padding-top:19px;
	position:relative;
}

footer p {
	color:#999999;
}

footer a {
	color:#cccccc;
	text-decoration:none;
}

footer a:hover {
	color:#aaaaaa;
	text-decoration:none;
}
