<!DOCTYPE html>
<html lang="en">
<head>
	<title>Brew @ The Brew</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="topbar">
		<div class="header">
			<div class="container">
				<h3 class="brand">
					Brew @ The Brew
				</h3>
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/mybrew">My Brew</a></li>
					<li><a href="/makebrews">Make Brews</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container content">
		{% block content %}{% endblock %}
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<p>
					&copy; 2012 <a href="http://www.smilemachine.com" title="Smile Machine - We make things better">Smile Machine</a>.
					Problems, questions or improvements? Ask <a href="mailto:marcus.ramsden@smilemachine.com">Marcus</a>.
				</p>
			</div>
		</div>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js></script>
</body>
</html>
